@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
a{
    text-decoration: none !important;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Style for LiHuang Common Page(Contact.html) */
/* Style for user-head-1 */
.user-head-1 {
    line-height: 50px;
    background-color:#000000;
}
.text-right .btn-warning{
    font-weight: 500;
    background-color: #BE0B29;
    border: none;
}
.text-right .btn-warning:hover{
    font-weight: 500;
    color: #BE0B29;
    background-color: white;
}
.text-right .btn-success{
    font-weight: 500;
    background-color: #1B6D85;
    border: none;
}
.text-right .btn-success:hover{
    font-weight: 500;
    color: #1B6D85;
    background-color: white;
}
.text-right .btn-danger{
    font-weight: 500;
    background-color: #CA8F49;
    border: none;
}
.text-right .btn-danger:hover{
    font-weight: 500;
    color: #CA8F49;
    background-color: white;
}

/* Style for nav-center(banner picture) */
#nav-center {
    width: 100%;
    height: 200px;
    background: url("../images/contactLi1.jpg");
    background-size: cover;
}

/* Style for text-center button */
.text-center #countMoneyBtn{
    font-weight:500;
    color: white;
    background-color: black;
    border: none;
}
.text-center #countMoneyBtn:hover{
    color: #000000;
    font-weight: 500;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

/* Style for pro-item(4 pictures) */
.li-item{
    cursor: pointer;
}
.li-item:hover{
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
#nav-foot-1 {
    width: 100%;
    height: 270px;
    background: url("../images/contactLi2.jpg");
    background-size: cover;
    animation: fadeIn 4s;
}
#nav-foot-2 {
    width: 100%;
    height: 270px;
    background: url("../images/contactLi3.jpg");
    background-size: cover;
    animation: fadeIn 4s;
}
#nav-foot-3 {
    width: 100%;
    height: 270px;
    background: url("../images/contactLi4.jpg");
    background-size: cover;
    animation: fadeIn 4s;
}
#nav-foot-4 {
    width: 100%;
    height: 270px;
    background: url("../images/contactLi5.jpg");
    background-size: cover;
    animation: fadeIn 4s;
}
.caption p {
    font-size: 1.5vmin;
    font-weight: 500;
    color: #8c8c8c;
    text-align: center;
    margin-top: 15px;
    animation: fadeIn 4s;
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* Style for Our Address */
.text-center h2{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 40px;
    border-top: 1px solid #B6B6B6;
    margin: 30px 0 30px 30px;
}

/* Style for map */
.text-center #map{
    width: 100%;
    height: 300px;
    margin: 0 0 15px 15px;
    border: 3px solid #F5F5F5;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.3);
}

/* Style for footer */
.text-center p{
    color: white;
}
#social img{
    margin-top: 10px;
}
#social a{
    margin: 0 1% 0 2%;
}

/* CSS @media */
@media (min-width: 768px) and (max-width: 1000px){
    .li-text-center{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .li-container{
        width: 100%;
        margin-left: 70px;
    }
}
.container{margin-top: 20px}

.row{margin-top: 40px}